{% extends 'base.twig' %}

{% block content %}
<div class="row">

  <div class="small-12 columns">
    <h1>E.A.T. School Lunch UX Challenge</h2>
    <h2>Submission by K-State Web Development Club</h2>
  </div>

</div>

{% endblock %}
